*.log
*.html
*.xmsgs
*.xreport
*.cmd_log
*.schlog
*.exe
*.ncd
*.jhd
XilinxProject/*.txt
XilinxProject/ipcore_dir/*.txt

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
