*.log
*.html
*.xmsgs
*.xreport
*.cmd_log
*.schlog
*.exe
*.ncd
*.jhd


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
